//Styles généraux
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  max-width: 1440px;
  margin: 0 auto;
}

//Stylisation du header du site
.main-menu {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  max-width: 1240px;
  ul {
    display: flex;
    justify-content: space-around;
    width: 250px;
    padding-left: 0;
  }
  li {
    list-style-type: none;
  }
  a {
    color: #ff5f60;
    text-decoration: none;
    font-size: 2.4rem;
  }
  a.underline {
    text-decoration: underline;
  }
  img {
    height: 38px;
  }
}

//Stylisation du footer du site
.main-footer {
  background-color: black;
  height: 209px;
  max-width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      display: block;
      width: 122px;
      height: 40px;
    }
    p {
      font-size: 24px;
    }
  }
}

//Partie Responsive (header & footer)
@media #{$laptop} {
  .main-menu {
    max-width: 100% !important;
    padding: 25px;
    margin-top: 10px;
    margin-bottom: 0;
    ul {
      max-width: 250px;
    }
  }
  .main-footer {
    max-width: 100% !important;
    padding: 10px;
    p {
      font-size: 2.1rem !important;
      width: 210px;
      text-align: center;
    }
  }
}
@media #{$mobile} {
  .main-menu {
    ul {
      font-size: 0.5rem !important;
    }
    a {
      font-size: 2.1rem;
    }
  }
}
@media #{$short-mobile} {
  .main-menu {
    ul {
      font-size: 0.3rem !important;
      align-items: center;
      justify-content: flex-end;
      gap: 15px;
    }
    a {
      font-size: 1.5rem;
    }
  }
}
