@font-face {
  font-family: "Font-1";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
}
//color
$main-color: #fd6060;
//media queries
$laptop: "screen and (max-width: 1300px)";
$tablette: "screen and (max-width: 900px)";
$mobile: "screen and (max-width: 750px)";
$short-mobile: "screen and (max-width: 450px)";
