@font-face {
  font-family: "Font-1";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
}
//color
$main-color: #fd6060;
//media queries
$laptop: "only screen and (max-width: 1300px)";
$tablette: "only screen and (max-width: 900px)";
$mobile: "only screen and (max-width: 700px)";
$short-mobile: "only screen and (max-width: 400px)";
