.error-container {
  min-height: calc(100vh - 109px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media #{$tablette} {
    min-height: fit-content;
  }
}

.error-text {
  color: $main-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 3rem;
  margin-bottom: 30px;
  font-style: bold;
  margin-top: 50px;
  h2 {
    font-size: 200px;
    margin-top: 0;
    margin-bottom: 0;
    @media #{$mobile} {
      font-size: 14rem;
    }
  }
  a {
    font-size: 1.8rem;
    color: $main-color;
    text-decoration: none;
    text-decoration: underline;
  }
  @media #{$mobile} {
    p {
      text-align: center;
      font-size: 2rem;
      padding: 40px;
    }
  }
}

@media #{$mobile} {
  .error-container {
    min-height: calc(100vh - 103px);
  }
}
@media #{$short-mobile} {
  .error-container {
    min-height: calc(100vh - 102px);
  }
}
