//Stylisation de la page représentant la fiche d'un appartment

.single-container {
  min-height: calc(100vh - 109px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media #{$tablette} {
    min-height: fit-content;
  }
}

.apartment-single-container {
  color: $main-color;
  width: 1240px;
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.appartment-slider {
  height: 415px;
  width: 100%;
  background-color: grey;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
  .img-slider {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 25px;
    -webkit-filter: brightness(0.7);
    filter: brightness(0.8);
  }
  .img-slider.none {
    opacity: 0;
  }
  .img-slider.active {
    opacity: 1;
  }
  p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
  }
  .arrow-slider-backward {
    top: 50%;
    left: 55px;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  .arrow-slider-forward {
    top: 50%;
    right: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

.apartment-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;

  h2 {
    font-size: 2.6rem;
    margin-bottom: 0;
    margin-top: 0;
  }
  p {
    font-size: 1.8rem;
    margin-top: 5px;
  }
  .apartment-specification {
    display: flex;
    gap: 25px;
    button {
      background-color: $main-color;
      color: white;
      display: block;
      border: none;
      border-radius: 7px;
      cursor: pointer;
      font-size: 1.4rem;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      font-family: "Montserrat";
      padding: 5px 10px;
    }
  }
  .apartement-name {
    .name {
      display: flex;
      gap: 25px;
      align-items: center;
      h3 {
        font-size: 1.8rem;
      }
      .picture {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        img {
          border-radius: 50%;
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }
        @media #{$short-mobile} {
          height: 60px;
          width: 60px;
        }
      }
    }
    .rating {
      font-size: 1.7rem;
      display: flex;
      gap: 5px;
      position: relative;
      .star-rating {
        display: flex;
        position: absolute;
        gap: 7px;
        z-index: 5;
        margin-top: 12px;
      }
      .star-rating.grey {
        display: flex;
        position: absolute;
        gap: 7px;
        color: $grey;
        z-index: -1;
      }
      @media #{$short-mobile} {
        .star-rating {
          margin-top: 0;
        }
      }
    }
  }
}

.flex-disposition {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  margin: 20px 0;
}

// Stylisation de la description
.description {
  font-size: 1.8rem;
  .description-label {
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    box-sizing: border-box;
    height: 54px;
    position: relative;
    z-index: 10;
    img {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }
  .description-text {
    background-color: $grey;
    color: $main-color;
    border-radius: 0 0 15px 15px;
    position: relative;
    overflow: hidden;
    z-index: -8;
    height: 0;
    transition: 0.4s ease-out height;
    transform: translateY(-15px);
    display: flex;
    justify-content: flex-start;
    align-items: center;

    p {
      padding: 20px;
    }
  }
  .description-text.active {
    height: 250px;
  }
}

//Stylisation de l'equipments
.equipments {
  font-size: 1.8rem;
  .equipments-label {
    background-color: $main-color;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    box-sizing: border-box;
    height: 54px;
    img {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }
  .equipments-text {
    background-color: $grey;
    color: $main-color;
    border-radius: 0 0 15px 15px;
    position: relative;
    z-index: -8;
    height: 0;
    transition: all 0.4s ease-out;
    overflow: hidden;
    transform: translateY(-15px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    ul {
      padding-left: 20px;
      margin: 0;
      li {
        list-style-type: none;
        margin-bottom: 5px;
        font-size: 1.5rem;
      }
    }
  }

  .equipments-text.active {
    height: 250px;
  }
}

.keywords-collapse {
  color: white;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
  gap: 30px;
  overflow: hidden;
  margin: 0 0 20px 0;
  max-width: 100%;
  .arrow-collapse-equipement {
    cursor: pointer;
    transition: 0.4s ease-out transform;
    transform: rotate(-180deg);
  }

  .arrow-collapse-description.open {
    transform: rotate(0deg);
  }

  .arrow-collapse-equipement.open {
    transform: rotate(0deg);
  }
  @media #{$laptop} {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0;
  }
}

@media #{$laptop} {
  .apartment-single-container {
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .appartment-slider {
    margin-bottom: 10px;
    margin-top: 0;
  }
  .appartment-text {
    padding: 20px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .flex-disposition {
    margin-top: 0;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .apartement-description {
    margin-top: 30px;
  }
  .apartement-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    .rating {
      order: -1;
      align-items: center;
    }
  }
}

@media #{$mobile} {
  .keywords-collapse {
    flex-direction: column;
  }
  .name {
    justify-content: flex-end;
    gap: 10px !important;
    h3 {
      text-align: right;
    }
  }
}
@media #{$short-mobile} {
  .appartment-slider {
    margin-bottom: 10px;
  }
  .apartment-description {
    h2 {
      font-size: 2.5rem;
    }
  }
  .apartment-specification {
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    button {
      min-width: 100%;
      display: block;
    }
  }
  .flex-disposition {
    max-width: 100%;
  }
  .apartement-name {
    margin-top: 25px;
    justify-content: space-between;
  }
  .rating {
    i {
      font-size: 1.2rem;
    }
  }
}
@media #{$short-xs-mobile} {
  .flex-disposition {
    margin-bottom: 10px;
  }
  .apartement-name {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
    margin-top: 35px;
    .rating {
      width: fit-content;
      justify-content: flex-start;
      left: -16%;
    }
  }
}
